{%extends "base.html"%}

{%block content%}
	<div>
		{% if not message %}
			<h1 class="textcenter">Airline Reservation System</h1>	
			<div class="stack textcenter">
				<a href="">See Flight Info</a>
				<a href="/login">Login</a>
				<a href="/register_staff">Staff Register</a>
				<a href="/register_customer">Customer Register</a>
			</div>
			
		{% endif %}

		{% if is_staff %}
			<h1 class="textcenter">Airline Reservation System for Staff</h1>	
			<h2>Welcome,&ensp;{{username}}</h2>
			<p>What would you like to do?</p>
			<a href="">View Flights</a>
			<p class="">Create New Flights</p> 
			<a href="">Change Status of Flights</a> 
			<a href="">Add New Airplane</a> 
			<a href="">Add New Airport</a> 
			<a href="">View Flight Ratings</a>
			<a href="">View Frequent Customers</a>
			<a href="">View Reports</a>
			<a href="">Earned Revenue</a>

		{% endif %}

		{% if is_customer %}
			<h1 class="textcenter">Airline Reservation System for Customers</h1>	
			<h2>Welcome,&ensp;{{username}}</h2>
			<p>What would you like to do?</p>
			<div class="stack textcenter">
				
			
				<a href="">View My Flights</a>
				
				<a href="">Search for Flights</a> 
				<a href="">Purchase Tickets</a>
				<a href="">Cancel Trip</a> 
				<a href="">Rate/Comment on Previous Flights</a> 
				<a href="">Track my Spending</a> 
				<a href="">Logout</a>
			</div>
			
		{% endif %}
	</div>

{%endblock%}


