{%extends "base.html"%}
{%block content%}

<div class="cinput">
    <h1>Public View Flights</h1>
        <form class="cinput" action="/public_view_flights" method="POST">
            <label for="flight_type">Flight Type:</label>
			<select type="text" name = "flight_type" id="flight_type" required>
                <option value="one way">One Way</option>
                <option value="two way">Two Way</option>
            </select> </br>

            <input type="text" name = "city_origin" placeholder="city origin" /> </br>
            <input type="text" name = "city_dest" placeholder="city destination" /> </br>

            <input type="text" name = "airport_origin" placeholder="airport origin"/> </br>
            <input type="text" name = "airport_dest" placeholder="airport destination"/> </br>

            <input type="text" name = "dept_dt" placeholder="departure date"/> </br>
            <input type="text" name = "return_dt" placeholder="return date"/> </br>

			<input type="submit" value = Search />
			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>
</div>
<div class="cinput">
{% if data %}
    <h3>Results:</h3>

    <table>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>

        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{%else%}
<h3>No Results Found</h3>
{%endif%}
    <a href="/homepage_redirect">Go back</a>

{%endblock%}

