{%extends "base.html"%}
{%block content%}

<div class="cinput">
    <h1>Public View Flight Status</h1>

        <form class="cinput" action="/public_check_status" method="POST">
			<input type="text" name = "flight_num" placeholder="flight number" required/> </br>
            <input type="text" name = "airline" placeholder="airline"  required/> </br>
            <input type="text" name = "dept_dt" placeholder="departure datetime YYYY-MM-DD HH:MM:SS"
                   required/> </br>

			<input type="submit" value = Search />
			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>

</div>
<div class="cinput">
{% if data %}
    <h3>Results:</h3>

    <table>
        <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>

        {% for row in data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{%else%}
<h3>No Results Found</h3>
{%endif%}
    <a href="/homepage_redirect">Go back</a>

{%endblock%}
