{% extends "base.html" %}

{% block content %}

{% if is_staff %}
    <h1 class="textcenter">Airline Reservation System for Staff</h1>	
    <h2>Welcome,&ensp;{{username}}</h2>
    <p>What would you like to do?</p>
    <div class="stack">
        <a href="/staff_view_flights">View Flights</a>    
        <a href="/staff_create_flight">Create New Flights</a> 
        <a href="/staff_change_flight_status">Change Status of Flights</a> 
        <a href="">Add New Airplane</a> 
        <a href="">Add New Airport</a> 
        <a href="">View Flight Ratings</a>
        <a href="">View Frequent Customers</a>
        <a href="">View Reports</a>
        <a href="">Earned Revenue</a>
        <a href="/logout">Log Out</a>
    </div>
    

{% endif %}
{% endblock %}