{%extends "base.html"%}
{%block content%}

<div class="cinput">
    <h3>Monthly Ticket Sales</h3>

    <canvas id="myChart" max-width="80" max-height="80"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                    {% for month in months %}
                        "{{ month }}",
                    {% endfor %}
                ],
            datasets: [{
                label: '# of Tickets Sold',
                data: [
                    {% for monthly_sale in data %}
                        "{{ monthly_sale }}",
                    {% endfor %}
                ],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',

                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>

    <a href="/staff_view_report_form">Back</a>
</div>

{%endblock%}