.textcenter{
    text-align: center;
}

.stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: groove;
    margin-left: 33%;
    margin-right: 33%;
    padding: 1%;
    border-color: black;
    font-size: 1.25em;
}


.cinput{
    margin: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


input {
    width: 350px;
}


.row{
    display: flex;
}


table {
    border-collapse: collapse;
}


td{
    border: solid 1px black;
}
